<!DOCTYPE html>
<html>

<head>
  <title>PSPDFKit Web Example</title>
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="/stylesheets/app.css" />
  <script src="<%= pspdfkitExternalUrl %>/pspdfkit.js"></script>
</head>

<body>
  <header class="navbar">
    <div class="navbar-left">
      <a href="/" class="navbar-icon">&lt;</a>
    </div>
    <div class="navbar-center">
      <h1><%= doc.title %></h1>
    </div>
    <div class="navbar-right">
      <% if (instant) { %>
      <a href="?instant=false" class="btn btn-success navbar-btn">Instant: ON</a>
      <% } else { %>
      <a href="?instant=true" class="btn btn-default navbar-btn">Instant: OFF</a>
      <% } %>
      <% if(user == doc.owner) { %>
      <a href="/delete/<%= doc.id %>" onclick="return confirm('Are you sure?')" class="btn btn-danger navbar-btn">Delete
        document</a>
      <% } %>
    </div>
  </header>
  <main class="document">
    <div id="doc-viewer" class="viewer"></div>
    <script src="/javascripts/citation.js"></script>
    <script>
      var configuration = {
        authPayload: { jwt: "<%= jwt %>" },
        container: "#doc-viewer",
        documentId: "<%= doc.id %>",
        instant: <%= instant %>,
        styleSheets: [
          '/stylesheets/custom.css'
        ],
        theme: PSPDFKit.Theme.DARK,
      };

      var matches = [
        {
          string: `Your firm failed to clean, maintain, and, as appropriate for the nature of the drug, sanitize and/or sterilize equipment and utensils at appropriate intervals to prevent malfunctions or contamination that would alter the safety, identity, strength, quality, or purity of the drug product beyond the official or other established requirements (21 CFR 211.67(a))`,
          category: 'primary',
          title: 'Primary Citation',
          regulation: '21 CFR 211.165(a) and (b)',
          topic: 'Laboratory',
          subtopic: 'Testing',
        },
        {
          string: 'Your firm has had many recurring incidents in which visible drug residues were found on non-dedicated equipment after the equipment was deemed clean by multiple staff.',
          category: 'primary',
          title: 'Primary Citation',
          regulation: '21 CFR 211.165(a)',
          topic: 'Laboratory',
          subtopic: 'Testing',
        },
        {
          string: 'Your firm continued to experience cleaning swab failures related to detergent residue across numerous pieces of non-dedicated equipment and surfaces.',
          category: 'secondary',
          title: 'Secondary Citation',
          regulation: '21 CFR 211.211.113(b)',
          topic: 'Production',
          subtopic: 'Sterile products / Microbiological Contamination',
        },
        {
          string: 'In addition, you provided only partial product impact assessments.',
          category: 'secondary',
          title: 'Secondary Citation',
          regulation: '21 CFR 211.211.113(b)',
          topic: 'Production',
          subtopic: 'Sterile products / Microbiological Contamination',
        },
      ]

      const List = PSPDFKit.Immutable.List;

      PSPDFKit.load(configuration)
        .then(instance => {
          // Reset zoom. Defaults to 1.25, we need it to be 1.
          instance.setViewState(viewState =>
            viewState.set("zoom", 1)
          );

          // Add citations for each match
          var citations = matches.map(match =>
            instance.search(match.string)
              .then(results =>
                results.map( result => {
                  result.match = match;
                  return result;
                })
              )
          );

          Promise.all(citations)
            .then(results => new List(results).flatten())
            .then(results => {
              return results
                .sort((a, b) => {
                  var aTop = PSPDFKit.Geometry.Rect.union(a.rectsOnPage).top;
                  var bTop = PSPDFKit.Geometry.Rect.union(b.rectsOnPage).top;

                  if (aTop === bTop) return 0;
                  else if (aTop < bTop) return -1;
                  else if (aTop >= bTop) return 1;
                })
                .flatten();
            })
            .then(results => {
              return results.forEach(
                result => Citation(instance, result.match, result)
              )
            })
            .then(console.log)
            .catch(console.error);
        });
    </script>


  </main>
</body>

</html>