/* Style override */
.PSPDFKit-Page {
    overflow: visible !important;
}

/* Citation components */
.citation {
    min-height: 109px;
    width: 272px;
    padding: 12px 16px;
    border-radius: 3px;
    background-color: #FFFFFF;
    box-shadow: 0 0 1px 0 rgba(67,90,111,0.47);
    text-align: left;
}

.citation__title {
    margin: 0 0 8px 0;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 22px;
}

.citation__title--primary {
    color: #BA0000;
}

.citation__title--secondary {
    color: #CC610A;
}

.citation__item-list {
    margin: 8px 0 0 0;
    padding: 0;
    list-style: none;
}

.citation__item {
    color: #000000;
    font-family: ".SF NS Display", sans-serif;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 15px;
    white-space: pre-line;
}